/* @media screen and (min-width: 1500px) {

  .maket {
     height: 2300%;}


  .logo {
       width: 65%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%);}


 .screen-1 {
  width: 65%;
  margin-right: -50%;
  transform: translate(-50%);}

  .screen-1 h1 {
    padding-top: 3%;}


 .concept {
      width: 65%;}


} */
